{% extends 'base.html' %}
{% load static %}

{% block yours-css %}
<title>Add todo</title>
{% endblock %}

{% block body %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading" style="height: 800px">
        <div align="center">
            <form action="{% url 'add' date %}" class="form-signin" id="login-form" method="post"
                  style="width: 500px; background-color: white; padding: 20px">{% csrf_token %}
                <h2 class="form-signin-heading" style="color: Grey">Add To Do</h2>
                <div class="row">
                    <div class="col">
                        <label  for="id_todo">To Do</label>
                        <input autofocus class="form-control" id="id_todo" name="to_do" placeholder="To Do" required type="text">
                    </div>
                    <div class="col">
                        <label for="id_type" style="color: grey">Importance Level:</label>
                        <select class="form-control" id="id_type" name="type" required>
                            {% for ty in types %}
                            <option value={{ ty.value }}>{{ ty.type }} ({{ ty.value }})</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div style="padding-top: 25px">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add it</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}