{% extends 'base.html' %}
{% load static %}
{% block yours-css %}
<link href="{% static 'css/todo-list.css' %}" rel="stylesheet" xmlns:1 xmlns:1 xmlns:1 xmlns:list_img>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<title>Home</title>
{% endblock %}

{% block body %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading" style="height: 800px; padding-top: 100px" align="center">
        <div class="carousel slide" style="width: 800px;" >
            <div class="page-content page-container" id="page-content">
                <div class="padding">
                    <div class="row container d-flex justify-content-center">
                        <div class="col-lg-12">
                            <div class="card px-3" >
                                <div class="card-body">
                                    <h4 class="card-title">{{ date }} </h4>
                                    <div class="add-items d-flex">
                                        <a class="add btn btn-primary font-weight-bold todo-list-add-btn" href="{% url 'add' date %}">
                                            Add todo
                                        </a>
                                    </div>
                                    <div class="list-wrapper" style="overflow: auto; height: 200px">
                                        {% if list is None %}
                                            <br>
                                            <h6 style="color: black">This date don't have to do's!</h6>
                                        {% else %}
                                            {% for item in list %}
                                            <ul class="d-flex flex-column-reverse todo-list">
                                                <li>
                                                    <img src="{% static list_img|get_item_by_index:item.type %}" style="width: 20px; height: 20px"
                                                                title="{{ list_types|get_item_dic:item.type }} ({{ item.type }})">
                                                    <div class="form-check" style="margin-left: 20px">
                                                        <label class="form-check-label" style="color: black">
                                                            <input {% if item.state == 1 %} checked {% endif %} class="checkbox" type="checkbox"
                                                                onclick="window.location='{% url 'change' item.to_do date %}'">
                                                            {{ item|get_item:'to_do' }}
                                                            <i class="input-helper"></i>
                                                        </label>
                                                    </div>
                                                    <i class="remove mdi mdi-close-circle-outline"
                                                        onclick="window.location='{% url 'remove' item.to_do date %}'"></i>
                                                </li>
                                            </ul>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" id="prevbtn" role="button">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" id="nextbtn" role="button">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>
<script src="{% static 'js/moment.min.js' %}"></script>
<script>
    document.getElementById('prevbtn').onclick = function(){
          var date = new Date('{{ date }}');
          date.setDate(date.getDate() - 1)
          date = moment(date).format('YYYY-MM-DD');

          window.location.href = '{% url 'home' %}' + date + '/'
    };

    document.getElementById('nextbtn').onclick = function(){
          var date = new Date('{{ date }}');
          date.setDate(date.getDate() + 1)
          date = moment(date).format('YYYY-MM-DD');

          window.location.href = '{% url 'home' %}' + date + '/'
    };
</script>
{% endblock %}