{% extends 'base.html' %}
{% load static %}
{% block yours-css %}
<title>Bem-vindo</title>
{% endblock %}

{% block body %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading" style="height: 400px">
        <h1>Disorganize?</h1>
        <span class="subheading">Create an account and reorganize your life!</span>
    </div>
    <div class="site-heading" style="height: 400px; margin: 0; padding: 0">
        <div align="center">
            <form action="{% url 'login' %}" class="form-signin" id="login-form" method="post" style="width: 300px">
                {% csrf_token %}
                <h2 class="form-signin-heading" style="color: white">Login</h2>
                <div>
                    <label class="sr-only" for="id_username">Email address</label>
                    <input class="form-control" id="id_username" name="email" placeholder="Email"
                           required type="email">
                    <label class="sr-only" for="id_password">Password</label>
                    <input class="form-control" id="id_password" name="password" placeholder="Password"
                           required type="password">
                </div>

                <div style="padding-top: 25px">
                    <a href="{% url 'register' %}" style="color: white">Create account</a>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


