{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="site-heading" style="height: 400px">
        <h1>Register</h1>
    </div>
    <div class="site-heading" style="height: 400px; padding: 0">
        <div align="center">
            <form action="{% url 'register' %}" class="form-signin" id="login-form" method="post"
                  style="width: 300px">{% csrf_token %}
                <h2 class="form-signin-heading">{{ message }}</h2>
                <div>
                    <label class="sr-only" for="id_username">Username</label>
                    <input autofocus class="form-control" id="id_username" name="username" placeholder="Username"
                           required type="text">
                    <label class="sr-only" for="id_email">Email</label>
                    <input class="form-control" id="id_email" name="email" placeholder="Email"
                           required type="email">

                    <label class="sr-only" for="id_password">Password</label>
                    <input class="form-control" id="id_password" name="password" placeholder="Password"
                           required type="password">
                </div>

                <div style="padding-top: 25px">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}